# Ignore all files with no extension in the root directory
/*

# Compiled object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.dll
*.so
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.mod
*.cmd

# Logs and databases
*.log
*.sql
*.sqlite

# Temporary files
*.tmp
*.bak
*.swp
*.swo
*.swn

# Backup files
*~
# Vim backup files
*.un~
*.vi
*.orig
*.bk

# Directories
bin/
build/
debug/
release/
out/
obj/
libs/
deps/
target/
.ccls-cache/

# Other
*.DS_Store
.vscode/
.idea/
*.iml

